body{
  background-color: #f5f8f9;
}

h1{
  border-bottom: 6px solid blue;
}

div {
  display: grid;
  grid-row-gap: 10px;
  padding: 10px;
  background-color: white;
  max-width: 960px;
}

div.gridContainer {
  display: grid;
  grid-row-gap: 10px;
  padding: 10px;
  background-color: white;
  max-width: 960px;
}
div.gridItem {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: red;
}
